/* 共通クラス */
body {
  color: #333;
  background-color: #f2f2f2;
  font-family: 'Lato';
}

.raleway {
  font-family: 'Raleway';
}

.main {
  padding-top: 78px;
}

.button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.button:hover {
  color: #333;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.transition {
  transition: all .3s;
}

/* header */
.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.header-icon {
  color: #4e4e4e;
}

.header-hamburger {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #ddd;
  display: none;
  padding: 10px;
}

.header-button {
  display: inline-block;
  padding: 14px 12px;
}

/* main */

/* div(Theme) */
.theme {
  padding: 250px 0;
}

.theme-inner {
  text-align: center;
}

.theme-inner__main {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-inner__sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/* section(introduction) */
.introduction {
  background-color: #74cfae;
  padding-top: 50px;
}

.introduction-inner {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.introduction-img {
  font-size: 0;
  width: 40%;
}

.introduction-text {
  color: #fff;
  width: 60%;
}

.introduction-text__main {
  font-size: 24px;
}

.introduction-text__sub {
  font-size: 20px;
  line-height: 1.5rem;
  margin-top: 35px;
}

/* article */
.article {
  padding: 60px 0 70px 0;
}

.article-inner {
  text-align: center;
}

.article-title {
  font-size: 24px;
}

.article-img {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: space-between;
  margin-top: 40px;
}

.article-img li a {
  display: inline-block;
  opacity: .7;
}

.article-img li a:hover {
  opacity: 1;
}

.article-img li:nth-child(n+4) {
  margin-top: 80px;
}

.article-content {
  margin-top: 90px;
}

.article-content__text {
  display: inline-block;
  line-height: 1.5rem;
  width: 42%;
}

.article-content__button {
  display: inline-block;
  margin-left: 90px;
  padding: 14px 20px;
  vertical-align: top;
}

/* section(skill) */
.skills {
  background-color: #4e4e4e;
  color: #fff;
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-title {
  font-size: 24px;
}

.skills-content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.skills-content figcaption {
  font-size: 16px;
  margin-top: 20px;
}

/* nav(sns) */
.sns {
  padding: 200px 0;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns-inner li a {
  display: inline-block;
  padding: 26px 0;
  text-align: center;
  text-decoration: none;
  width: 185px;
}

.sns-inner li a:hover {
  background-color: #fff;
}

.sns-inner li i {
  color: #74cfae;
  display: inline-block;
}

/* footer */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  text-align: right;
}